html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

/*#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}*/

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* Quito el text-align, el border-inline y el width estricto que mostraba "columnas" a los costados. */
}